<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
     <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="res/style.css">
  </head>
  <body>
    <div id="app" class="d-flex align-items-center">
      <header class="rowx">
        <h1>Status Meeting Standup</h1>
        <nav class="tabs-nav">
          <ul class="list-inline d-flex">
            <li v-bind:class="{ 'left-tab-active': !isChatting }" class="list-inline-item"
                v-on:click="isChatting = false">
              Participants ({{ participantCount }})
            </li>
            <li v-bind:class="{ 'right-tab-active': isChatting }" class="list-inline-item"
                v-on:click="isChatting = true">
              Chat
            </li>
          </ul>
        </nav>
      </header>
      <div class="row">
        <div id="participants" v-if="!isChatting">
          <participants v-bind:participants="participants"/>
        </div>
        <div id="chat" v-if="isChatting">
          <div>
            <messages v-bind:author="author" />
          </div>
          <div>
            <input-message v-bind:author="author" />
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/service.js"></script>
    <script src="src/messages.js"></script>
    <script src="src/input-message.js"></script>
    <script src="src/participants.js"></script>
    <script src="src/chat.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
