#app {
  flex-direction: column;
}

#app > * {
  width: 720px;
}

header {
  padding-top: 40px;
  background: #eaeaea;
}

h1 {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

.tabs-nav > ul {
  margin: 0;
}

.tabs-nav > ul > li {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e2e4;
  cursor: pointer;
}

.left-tab-active {
  border: 1px solid #e0e2e4;
  border-bottom: 0 !important;
  border-left: 0;
  border-top-right-radius: 5px;
  background: white;
}

.right-tab-active {
  border: 1px solid #e0e2e4;
  border-bottom: 0 !important;
  border-right: 0;
  border-top-left-radius: 5px;
  background: white;
}

.message {
  border: 0;
  padding: 0 20px;
}

.message .author {
  font-weight: 600;
}

.message .time {
  color: #9a9da7;
}

.message i {
  font-size: 12px;
}

#participants li {
  padding: 30px 20px;
}

#participants, #chat, #chat div, #chat ul, #chat li, #participants * {
  width: 100%;
}
